
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
body{
    max-width: 1140px;
    margin:0 auto;
    background-color:#f8f9fc;
}
.primary-color{
    color:#E95A08;
}
.secondary-color{
    color:rgba(0, 0, 0, 0.5);
}
html{
    font-size: 16px;
}
.section-heading{
    font-size: 3.125rem;
    font-weight: bold;
    color:black;
    margin-bottom: 0px;
}
.description{
    font-size: 1.375rem;
    color:rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
    padding: 0px;
    margin-bottom: 0px;
    font-weight: 400;
}
.btn-primary{
    background-color: #E95A08;
    font-size: 1rem;
    font-weight:400;
    color:white;
    border:none;
    padding:1rem 3rem;
}
/* navbar styles start */
.navbar{
    justify-content: space-between;
   align-items: center;
   padding:0 0;
}
figure{
    margin:0;
}
 .navbar figure img{
    display: block;
    width:auto;
}
.nav-links img{
    width: 15px;
    height: 15px;
}
.nav-itmes{
list-style: none;
margin-left: 48px;
}
.nav-links a{
    text-decoration: none;
    color:black;
}
header{
    
    margin-top: 30px;
}
/* banner styles */
.banner{
    display: flex;
    align-items: last baseline;
    margin-top: 109px;
}
.banner-content h1{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 0px;
    margin-top: 0px;
}
 .banner-content p{
    margin-top: 13px;
    padding: 0;
    margin-bottom: 0px;
    font-size: 1.5rem;
    text-align: start;
} 

/* our plants section styles */
.our-plants{
    margin-top: 120px;
    margin-bottom: 210px;
    padding:0 15px;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}
.plants-content{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.our-plant-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3rem;
    row-gap: 1.5rem;
    column-gap: 1rem;
    box-sizing: border-box;
    max-width: 100%;
}

.plant-item button{
    width: 100%;
    height: auto;
    margin: 0px;  
}
 .plant-item img{
    width: 100%;
    height: auto;
    display: block;
 }
.plant-item h6{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.plant-item h5{
    font-size: 1rem;
    font-weight:700;
    margin-top: 1rem;
    margin-bottom:1rem ;
    text-align: center;
}
/* seller section syles */
.image-container{
    position: relative;
}
#main-image{
    width: 540px;
    height:auto;
}
#main-image img{
    width: 100%;
    height: auto;
}
#badge-image{
    width: 286px;
    height: 286px;
    position: absolute;
    top:-126px;
    right: -93px;  
}
@keyframes ding-dong {
    from{
        transform:rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
#badge-image img{
width: 100%;
height: 100%;
animation: ding-dong 2s ease-in-out 0s infinite alternate;
}
.seller-container{
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
    margin-bottom:7rem;
}
.seller-details h3{
    margin-top: 0;
    margin-bottom: 2rem;
    
}

.seller-details ul li{
    margin-top:1.5rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    
}
/* latest deals section styles */
.deals-content h2,p{
    text-align: center;
}
.deals-content h2{
    margin-bottom: 1rem;
}
.deals-content p{
    margin-top: 0px;
    padding: 0px 10rem 7rem 10rem;
}
.img-container{
    display: flex;
    flex-direction: column;
    gap:25px;
    
}
.deals-image img{
    border: none;
    border-radius: 14px;
}
.deals-images img{
    border: none;
border-radius: 22px;
}
.deals-images{
    display: flex;
    gap: 28px;
}
.deals-image{
    position: relative;
}
.latest-deals{
    margin-bottom: 7rem;
}
.img-container button{
   all:unset;
   border-bottom: 2px solid white;
   font-size: 1rem;
   font-weight: 500;
   position: absolute;
    
}
.price-tag-ana,.price-tag-bloom{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color:white;
    font-size: 1rem;
    font-weight: bold;
}
.image-zabo{
    position: relative;
}
.image-zabo button{
    all:unset;
   border-bottom: 2px solid white;
   font-size: 2rem;
   font-weight: 500;
   position: absolute;
}
.price-tag-zabo{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color:white;
    font-size: 2rem;
    font-weight: bold;
    
}
/* subscribe section styles */
.subscribe-img{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    box-sizing: border-box;
}
.subscribe-img img{
    width: 100%;
    height: auto;
    display: relative;
}
.form-items{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color:white;
    text-align: center;
}
.form-items h3{
    color: white;
    margin-bottom: 1.5rem;
}
#email-address{
    height: 2.8rem;
    width: 32rem;
    padding-left:1rem ;
    margin-right: 0px;
    font-size: 1rem;
    background-color: white;
    border:1px solid white;
}
/* footer section styles */
footer{
    display: flex;
    justify-content: space-between;
    margin:50px auto;
}
.footer-icon p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    text-align: start;
}
.footer-list-items ul{
    list-style: none;
}
.footer-list-items ul li{
    margin-bottom: 1rem;
}
.footer-list-items a{
    text-decoration: none;
    color:rgba(107, 114, 128, 1);
}
.icon-container img{
    margin-left: 1rem;
}

/* Responsive media query */
@media screen and (max-width:576px){
  .navbar{
    margin:0 16px;
  }
  /* banner section  */
    .banner{
        flex-direction: column-reverse;    
    }
    .banner-content h1{
        margin:28px 16px 13px 16px;
        font-size: 1.5rem;   
    }
    .banner-content p{
        margin: 0 16px;
        font-size: 0.875rem;
    }
    .banner img{
        width: 100%;
    }
    .hidden{
        display: none;
    }

    /* our plant section */
    .our-plant-items{
        grid-template-columns: repeat(2,1fr);

    
    }

 /* trusted seller section started */
 .trusted-seller,.latest-deal,.our-plants,.deals-images,footer{
    padding:1rem;
 }
    .seller-container,.deals-images,footer{
        flex-direction: column;
    }
    
 .form-items h3{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
 }
 .deals-content p{
    padding: 0;
    margin: 49px 28px 52px;
 }
 .form-group{
    display: flex;
 }
 #email-address{
    width: 12rem;
 }
 .form-items .btn-primary{
    padding: 15px 10px;
 }
 .image-zabo img{
    max-width: 100%;
 }
 .price-tag-zabo{
    font-size: 1rem;
    font-weight: bold;
    
}
.price-tag-zabo button{
    font-size:1rem ;
    font-weight: 500;
}
.btn-primary{
    padding: 1rem 2rem;
}
#badge-image img{
    display: none;
}
#main-image{
    width: 100%;
    height: auto;
}
body{
    overflow-x: hidden;
    width: 100%;
}
footer{
    margin: 0 auto;
}
}